In [ ]:
import csv

### Pokemon data

In [ ]:
def csv_to_sql(csv_file, table_name, sql_file):
    # Define columns and their SQL types
    columns = {
        "pok_id": "INT",
        "pok_name": "TEXT",
        "pok_height": "INT",
        "pok_weight": "INT",
        "pok_base_experience": "INT"
    }

    with open(csv_file, newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f)

        # Create the CREATE TABLE statement
        create_stmt = f"CREATE TABLE {table_name} (\n"
        create_stmt += ",\n".join([f"  `{col}` {dtype}" for col, dtype in columns.items()])
        create_stmt += "\n);\n\n"

        insert_stmts = []
        for row in reader:
            values = []
            for col in columns:
                val = row[col]
                if columns[col] == "TEXT":
                    val = val.replace("'", "''")  # Escape single quotes for SQL
                    values.append(f"'{val}'")
                else:
                    values.append(val or 'NULL')  # NULL for missing numeric values
            insert_stmt = f"INSERT INTO {table_name} ({', '.join(columns.keys())}) VALUES ({', '.join(values)});"
            insert_stmts.append(insert_stmt)

        with open(sql_file, "w", encoding='utf-8') as out:
            out.write(create_stmt)
            out.write("\n".join(insert_stmts))

In [ ]:
csv_to_sql("../database_data/csv_files/pokemon_db/pokemon.csv", "pokemon", "../database_data/MySQL/pokemon.sql")

In [ ]:
def csv_to_sql(csv_file, table_name, sql_file):
    # Define the schema
    columns = {
        "pok_id": "INT",
        "type_id": "INT",
        "slot": "INT"
    }

    with open(csv_file, newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f)

        # CREATE TABLE statement
        create_stmt = f"CREATE TABLE {table_name} (\n"
        create_stmt += ",\n".join([f"  `{col}` {dtype}" for col, dtype in columns.items()])
        create_stmt += "\n);\n\n"

        insert_stmts = []
        for row in reader:
            values = [row[col] or 'NULL' for col in columns]  # Handle missing values as NULL
            insert_stmt = f"INSERT INTO {table_name} ({', '.join(columns.keys())}) VALUES ({', '.join(values)});"
            insert_stmts.append(insert_stmt)

        # Write to .sql file
        with open(sql_file, "w", encoding='utf-8') as out:
            out.write(create_stmt)
            out.write("\n".join(insert_stmts))

In [ ]:
csv_to_sql("../database_data/csv_files/pokemon_db/pokemon_types.csv", "pokemon_types", "../database_data/MySQL/pokemon_types.sql")

In [ ]:
def csv_to_sql(csv_file, table_name, sql_file):
    # Define the schema
    columns = {
        "type_id": "INT",
        "type_name": "TEXT",
        "damage_type_id": "INT"
    }

    with open(csv_file, newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f)

        # Create the CREATE TABLE statement
        create_stmt = f"CREATE TABLE {table_name} (\n"
        create_stmt += ",\n".join([f"  `{col}` {dtype}" for col, dtype in columns.items()])
        create_stmt += "\n);\n\n"

        insert_stmts = []
        for row in reader:
            values = []
            for col in columns:
                val = row[col]
                if columns[col] == "TEXT":
                    val = val.replace("'", "''")  # Escape single quotes for SQL
                    values.append(f"'{val}'")
                else:
                    values.append(val or 'NULL')  # NULL for missing numeric values
            insert_stmt = f"INSERT INTO {table_name} ({', '.join(columns.keys())}) VALUES ({', '.join(values)});"
            insert_stmts.append(insert_stmt)

        with open(sql_file, "w", encoding='utf-8') as out:
            out.write(create_stmt)
            out.write("\n".join(insert_stmts))

In [ ]:
csv_to_sql("../database_data/csv_files/pokemon_db/types.csv", "types", "../database_data/MySQL/types.sql")

In [ ]:
def csv_to_sql(csv_file, table_name, sql_file):
    # Define the schema
    columns = {
        "pok_id": "INT",
        "b_hp": "INT",
        "b_atk": "INT",
        "b_def": "INT",
        "b_sp_atk": "INT",
        "b_sp_def": "INT",
        "b_speed": "INT"
    }

    with open(csv_file, newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f)

        # CREATE TABLE statement
        create_stmt = f"CREATE TABLE {table_name} (\n"
        create_stmt += ",\n".join([f"  `{col}` {dtype}" for col, dtype in columns.items()])
        create_stmt += "\n);\n\n"

        insert_stmts = []
        for row in reader:
            values = [row[col] or 'NULL' for col in columns]  # Handle missing values as NULL
            insert_stmt = f"INSERT INTO {table_name} ({', '.join(columns.keys())}) VALUES ({', '.join(values)});"
            insert_stmts.append(insert_stmt)

        # Write to .sql file
        with open(sql_file, "w", encoding='utf-8') as out:
            out.write(create_stmt)
            out.write("\n".join(insert_stmts))

In [ ]:
csv_to_sql("../database_data/csv_files/pokemon_db/base_stats.csv", "base_stats", "../database_data/MySQL/base_stats.sql")

### sakila data

In [ ]:
def csv_to_sql(csv_file, table_name, sql_file):
    # Define columns and their SQL types
    columns = {
        "actor_id": "INT",
        "first_name": "TEXT",
        "last_name": "TEXT"
    }

    with open(csv_file, newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f)

        # Create the CREATE TABLE statement
        create_stmt = f"CREATE TABLE {table_name} (\n"
        create_stmt += ",\n".join([f"  `{col}` {dtype}" for col, dtype in columns.items()])
        create_stmt += "\n);\n\n"

        insert_stmts = []
        for row in reader:
            values = []
            for col in columns:
                val = row[col]
                if columns[col] == "TEXT":
                    val = val.replace("'", "''")  # Escape single quotes for SQL
                    values.append(f"'{val}'")
                else:
                    values.append(val or 'NULL')  # NULL for missing numeric values
            insert_stmt = f"INSERT INTO {table_name} ({', '.join(columns.keys())}) VALUES ({', '.join(values)});"
            insert_stmts.append(insert_stmt)

        with open(sql_file, "w", encoding='utf-8') as out:
            out.write(create_stmt)
            out.write("\n".join(insert_stmts))

In [ ]:
csv_to_sql("../database_data/csv_files/sakila/actor.csv", "actor", "../database_data/MySQL/actor.sql")

In [ ]:
def csv_to_sql(csv_file, table_name, sql_file):
    # Define columns and their SQL types
    columns = {
        "actor_id": "INT",
        "film_id": "INT"
    }

    with open(csv_file, newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f)

        # Create the CREATE TABLE statement
        create_stmt = f"CREATE TABLE {table_name} (\n"
        create_stmt += ",\n".join([f"  `{col}` {dtype}" for col, dtype in columns.items()])
        create_stmt += "\n);\n\n"

        insert_stmts = []
        for row in reader:
            values = []
            for col in columns:
                val = row[col]
                if columns[col] == "TEXT":
                    val = val.replace("'", "''")  # Escape single quotes for SQL
                    values.append(f"'{val}'")
                else:
                    values.append(val or 'NULL')  # NULL for missing numeric values
            insert_stmt = f"INSERT INTO {table_name} ({', '.join(columns.keys())}) VALUES ({', '.join(values)});"
            insert_stmts.append(insert_stmt)

        with open(sql_file, "w", encoding='utf-8') as out:
            out.write(create_stmt)
            out.write("\n".join(insert_stmts))

In [ ]:
csv_to_sql("../database_data/csv_files/sakila/film_actor.csv", "film_actor", "../database_data/MySQL/film_actor.sql")

In [ ]:
def csv_to_sql(csv_file, table_name, sql_file):
    # Define columns and their SQL types
    columns = {
        "film_id": "INT",
        "title": "TEXT",
        "description": "TEXT",
        "release_year": "INT",
        "language_id": "INT",
        "original_language_id": "INT",
        "rental_duration": "INT",
        "rental_rate": "FLOAT",
        "length": "INT",
        "replacement_cost": "FLOAT",
        "rating": "TEXT",
        "special_features": "TEXT",
    }

    with open(csv_file, newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f)

        # Create the CREATE TABLE statement
        create_stmt = f"CREATE TABLE {table_name} (\n"
        create_stmt += ",\n".join([f"  `{col}` {dtype}" for col, dtype in columns.items()])
        create_stmt += "\n);\n\n"

        insert_stmts = []
        for row in reader:
            values = []
            for col in columns:
                val = row[col]
                if columns[col] == "TEXT":
                    val = val.replace("'", "''")  # Escape single quotes for SQL
                    values.append(f"'{val}'")
                else:
                    values.append(val or 'NULL')  # NULL for missing numeric values
            insert_stmt = f"INSERT INTO {table_name} ({', '.join(columns.keys())}) VALUES ({', '.join(values)});"
            insert_stmts.append(insert_stmt)

        with open(sql_file, "w", encoding='utf-8') as out:
            out.write(create_stmt)
            out.write("\n".join(insert_stmts))

In [ ]:
csv_to_sql("../database_data/csv_files/sakila/film.csv", "film", "../database_data/MySQL/film.sql")