### MySQL

In [ ]:
import mysql.connector
import google.generativeai as genai 
import re

In [ ]:
# LLM setup
genai.configure(api_key="AIzaSyBmMpmfkoqoynpuW0ketvjccEmZAVwXIHI")
model = genai.GenerativeModel("gemini-2.0-flash-001")

In [ ]:
# Original helper connection function
'''
def mysql_helper_conn(database_input, query):
    """
    connects to MySQL server and executes query
    """
    mysql_conn = mysql.connector.connect(
        host="34.136.221.112",
        user="root",
        password="toothbrush",
        database=database_input
    )
    cursor = mysql_conn.cursor()
    try:
        cursor.execute(query)
    except Exception as e:
        print(f"Error: {e}")
    results = cursor.fetchall()
    cursor.close()
    mysql_conn.close()
    return results
'''

In [ ]:
def mysql_helper_conn(database_input, query, return_json=False):
    """
    connects to MySQL server and executes query
    """
    mysql_conn = mysql.connector.connect(
        host="34.136.221.112",
        user="root",
        password="toothbrush",
        database=database_input
    )
    cursor = mysql_conn.cursor()
    result = []
    try:
        cursor.execute(query)
        if cursor.with_rows:
            rows = cursor.fetchall()
            if return_json:
                columns = [desc[0] for desc in cursor.description]
                result = [dict(zip(columns, row)) for row in rows]
            else:
                result = rows
        else:
            mysql_conn.commit()
    except Exception as e:
        print(f"Error: {e}")
        result = [("Error", str(e))]
    cursor.close()
    mysql_conn.close()
    return result

In [ ]:
def extract_sql_from_response(response_text):
    """
    processes/cleans the LLM output
    """
    if response_text.startswith("```sql"):
        match = re.search(r"```sql\n(.*?)```", response_text, re.DOTALL)
        return match.group(1).strip() if match else response_text
    return response_text.strip()

### Functions for the world database

In [ ]:
# MySQL connection for world dataset
# probably won't need for the final script (just here to show specific connection)
world_conn = mysql.connector.connect(
    host="34.136.221.112",
    user="root",
    password="toothbrush",
    database="world"
)

world_cursor = world_conn.cursor()

In [ ]:
# Exploration function 
def main_mysql_explore_world(input):
    prompt = ("Given a MySQL database called world, with 3 tables named city, country, and countrylanguage."
              "The city table has 5 columns: ID, Name, CountryCode, District, Population."
              "The country table has 15 columns: Code, Name, Continent, Region, SurfaceArea, IndepYear, Population, LifeExpectancy, GNP, GNPOld, LocalName, GovernmentForm, HeadOfState, Capital, Code2."
              "The countrylanguage table has 4 columns: CountryCode, Language, IsOfficial, Percentage."
              "city.CountryCode is a foreign key that references country.Code."
              "countrylanguage.CountryCode is a foreign key that references country.Code."
              "I want to explore the database."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"MySQL query to execute:\n`{sql_code}`")
        result = mysql_helper_conn("world", sql_code, return_json=True)
        return {"query": sql_code, "result": result}
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
# Query function
def main_mysql_query_world(input):
    prompt = ("Given a MySQL database called world, with 3 tables named city, country, and countrylanguage."
              "The city table has 5 columns: ID, Name, CountryCode, District, Population."
              "The country table has 15 columns: Code, Name, Continent, Region, SurfaceArea, IndepYear, Population, LifeExpectancy, GNP, GNPOld, LocalName, GovernmentForm, HeadOfState, Capital, Code2."
              "The countrylanguage table has 4 columns: CountryCode, Language, IsOfficial, Percentage."
              "city.CountryCode is a foreign key that references country.Code."
              "countrylanguage.CountryCode is a foreign key that references country.Code."
              "I want to query the tables of the database."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"MySQL query to execute:\n`{sql_code}`")
        result = mysql_helper_conn("world", sql_code, return_json=True)
        return {"query": sql_code, "result": result}
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
# Modification function
def main_mysql_modify_world(input):
    prompt = ("Given a MySQL database called world, with 3 tables named city, country, and countrylanguage."
              "The city table has 5 columns: ID, Name, CountryCode, District, Population."
              "The country table has 15 columns: Code, Name, Continent, Region, SurfaceArea, IndepYear, Population, LifeExpectancy, GNP, GNPOld, LocalName, GovernmentForm, HeadOfState, Capital, Code2."
              "The countrylanguage table has 4 columns: CountryCode, Language, IsOfficial, Percentage."
              "city.CountryCode is a foreign key that references country.Code."
              "countrylanguage.CountryCode is a foreign key that references country.Code."
              "I want to modify the data of the database like inserting, deleting, or updating."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"Data modification code:\n`{sql_code}`")
        result = mysql_helper_conn("world", sql_code, return_json=True)
        return {"query": sql_code, "result": "Data modified!"}
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
w_test_e1 = main_mysql_explore_world("What tables are there in this database?")

In [ ]:
w_test_e1

In [ ]:
w_test_e2 = main_mysql_explore_world("What attributes does the country table have?")

In [ ]:
w_test_e2

In [ ]:
w_test_e3 = main_mysql_explore_world("Can you show me sample data from the countrylanguage table?")

In [ ]:
w_test_e3

In [ ]:
w_test_q1 = main_mysql_query_world("What are the 5 most populated countries that has English as their official language?")

In [ ]:
w_test_q1

In [ ]:
w_test_q2 = main_mysql_query_world("What is the country with the third largest geographic size?")

In [ ]:
w_test_q2

In [ ]:
w_test_q3 = main_mysql_query_world("Which continents have at least 25 countries?")

In [ ]:
w_test_q3

In [ ]:
w_test_q4 = main_mysql_query_world("What is the population of India?")

In [ ]:
w_test_q4

In [ ]:
w_test_m1 = main_mysql_modify_world("Can you update the population of India to 2 billion?")

In [ ]:
w_test_m1

### Functions for the pokemon_db database

In [ ]:
# MySQL connection for Pokemon dataset 
pokemon_conn = mysql.connector.connect(
    host="34.136.221.112",
    user="root",
    password="toothbrush",
    database="pokemon_db"
)

pokemon_cursor = pokemon_conn.cursor()

In [ ]:
# Exploration function 
def main_mysql_explore_pokemon(input):
    prompt = ("Given a MySQL database called pokemon_db, with 4 tables named pokemon, pokemon_types, types, and base_stats."
              "The pokemon table has 5 columns: pok_id, pok_name, pok_height, pok_weight, pok_base_experience."
              "The pokemon_types table has 3 columns: pok_id, type_id, slot."
              "The types table has 3 columns: type_id, type_name, damage_type_id."
              "The base_stats table has 7 columns: pok_id, b_hp, b_atk, b_def, b_sp_atk, b_sp_def, b_speed."
              "I want to explore the database."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"MySQL query to execute:\n`{sql_code}`")
        result = mysql_helper_conn("pokemon_db", sql_code, return_json=True)
        return {"query": sql_code, "result": result}
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
# Query function
def main_mysql_query_pokemon(input):
    prompt = ("Given a MySQL database called pokemon_db, with 4 tables named pokemon, pokemon_types, types, and base_stats."
              "The pokemon table has 5 columns: pok_id, pok_name, pok_height, pok_weight, pok_base_experience."
              "The pokemon_types table has 3 columns: pok_id, type_id, slot."
              "The types table has 3 columns: type_id, type_name, damage_type_id."
              "The base_stats table has 7 columns: pok_id, b_hp, b_atk, b_def, b_sp_atk, b_sp_def, b_speed."
              "I want to query the tables of the database."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"MySQL query to execute:\n`{sql_code}`")
        result = mysql_helper_conn("pokemon_db", sql_code, return_json=True)
        return {"query": sql_code, "result": result}
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
# original Modification function
'''
def main_mysql_modify_pokemon(input):
    prompt = ("Given a MySQL database called pokemon_db, with 4 tables named pokemon, pokemon_types, types, and base_stats."
              "The pokemon table has 5 columns: pok_id, pok_name, pok_height, pok_weight, pok_base_experience."
              "The pokemon_types table has 3 columns: pok_id, type_id, slot."
              "The types table has 3 columns: type_id, type_name, damage_type_id."
              "The base_stats table has 7 columns: pok_id, b_hp, b_atk, b_def, b_sp_atk, b_sp_def, b_speed."
              "I want to modify the data of the database like inserting, deleting, or updating."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        if response.text.startswith("```sql"):
            match = re.search(r"```sql\n(.*?)```", response.text, re.DOTALL)
        else:
            match = None
        if match:
            sql_code = match.group(1).strip()
            print(f"Data modification code:\n`{sql_code}`")
        else:
            sql_code = response.text.strip()
            print(f"Data modification code:\n`{sql_code}`")
    except Exception as e:
        print(f"Error: {e}")
    if sql_code:
        result = mysql_helper_conn("pokemon_db", sql_code)
        return result
    return None
'''

In [ ]:
# Modification function
def main_mysql_modify_pokemon(input):
    prompt = (
        "Given a MySQL database called pokemon_db, with 4 tables named pokemon, pokemon_types, types, and base_stats."
        "The pokemon table has 5 columns: pok_id, pok_name, pok_height, pok_weight, pok_base_experience."
        "The pokemon_types table has 3 columns: pok_id, type_id, slot."
        "The types table has 3 columns: type_id, type_name, damage_type_id."
        "The base_stats table has 7 columns: pok_id, b_hp, b_atk, b_def, b_sp_atk, b_sp_def, b_speed."
        "I want to modify the data of the database like inserting, deleting, or updating."
        f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
        "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"Data modification code:\n`{sql_code}`")
        result = mysql_helper_conn("pokemon_db", sql_code, return_json=True)
        return {"query": sql_code, "result": "Data modified!"}
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
p_test_mod = main_mysql_modify_pokemon("Can you update heatran's type in slot 2 to the steel type?")

In [ ]:
p_test_query = main_mysql_query_pokemon("What is heatran's type?")

In [ ]:
p_test_query

### Functions for the sakila database

In [ ]:
# MySQL connection for sakila dataset
sakila_conn = mysql.connector.connect(
    host="34.136.221.112",
    user="root",
    password="toothbrush",
    database="sakila"
)

sakila_cursor = sakila_conn.cursor()

In [ ]:
# Exploration function 
def main_mysql_explore_sakila(input):
    prompt = ("Given a MySQL database called sakila, with 3 tables named actor, film, and film_actor."
              "The actor table has 3 columns: actor_id, first_name, and last_name."
              "The film table has 12 columns: film_id, title, description, release_year, language_id, original_language_id, rental_duration, rental_rate, length, replacement_cost, rating, and special_features."
              "The film_actor table has 2 columns: actor_id and film_id."
              "film_actor.actor_id is a foreign key that references actor.actor_id."
              "film_actor.film_id is a foreign key that references film.film_id."
              "I want to explore the database."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"MySQL query to execute:\n`{sql_code}`")
        result = mysql_helper_conn("sakila", sql_code, return_json=True)
        return {"query": sql_code, "result": result}
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
# Query function
def main_mysql_query_sakila(input):
    prompt = ("Given a MySQL database called sakila, with 3 tables named actor, film, and film_actor."
              "The actor table has 3 columns: actor_id, first_name, and last_name."
              "The film table has 12 columns: film_id, title, description, release_year, language_id, original_language_id, rental_duration, rental_rate, length, replacement_cost, rating, and special_features."
              "The film_actor table has 2 columns: actor_id and film_id."
              "film_actor.actor_id is a foreign key that references actor.actor_id."
              "film_actor.film_id is a foreign key that references film.film_id."
              "I want to query the tables of the database."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"MySQL query to execute:\n`{sql_code}`")
        result = mysql_helper_conn("sakila", sql_code, return_json=True)
        return {"query": sql_code, "result": result}
    except Exception as e:
        print(f"Error: {e}")

In [ ]:
# Modification function
def main_mysql_modify_sakila(input):
    prompt = ("Given a MySQL database called sakila, with 3 tables named actor, film, and film_actor."
              "The actor table has 3 columns: actor_id, first_name, and last_name."
              "The film table has 12 columns: film_id, title, description, release_year, language_id, original_language_id, rental_duration, rental_rate, length, replacement_cost, rating, and special_features."
              "The film_actor table has 2 columns: actor_id and film_id."
              "film_actor.actor_id is a foreign key that references actor.actor_id."
              "film_actor.film_id is a foreign key that references film.film_id."
              "I want to modify the data of the database like inserting, deleting, or updating."
              f'Can you help me write a MySQL query that addresses the following prompt: "{input}"'
              "Please return only the MySQL query and nothing else."
    )
    try:
        response = model.generate_content(prompt)
        print(f"LLM result:\n{response.text}")
        sql_code = extract_sql_from_response(response.text)
        print(f"Data modification code:\n`{sql_code}`")
        result = mysql_helper_conn("sakila", sql_code, return_json=True)
        return {"query": sql_code, "result": "Data modified!"}
    except Exception as e:
        print(f"Error: {e}")